/* -----admin panel -----*/

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.main-container {
    display: flex;
    max-width: 100%;
}

.header {
    width: 16%;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header .logo {
    margin-bottom: 20px;
}

.header .navMenu {
    flex-grow: 1;
}

.header .navList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .navList li {
    margin-bottom: 20px;
}

.header .navList li a {
    color: rgba(25, 0, 65, 1);
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}

.header .navList li.active a {
    background-color: rgba(245, 241, 238, 1);
    border-radius: 5px;
}

.header .logout {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: rgba(25, 0, 65, 1);
    cursor: pointer;
}

.header .logout:hover {
    background-color: rgba(245, 241, 238, 1);
}

main {
    flex-grow: 1;
    padding: 20px;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    width: 507px;
    gap: 12px;
}

.search-input {
    width: 100%;
    height: 35px;
    padding: 0 15px 0 40px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #343644;
    width: 18px;
    height: 18px;
}

.job-post-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.job-post-button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    font-family: Inter, sans-serif;
    overflow-y: scroll;
}

.table-header {
    background-color: rgba(255, 243, 225, 1);
    color: rgba(52, 54, 68, 1);
    border: 1px solid rgba(85, 86, 90, 0.12);
    font-size: 18px;
    font-weight: 600;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.table-header th {
    padding: 10px 15px;
    text-align: center;
    position: relative;
}

.table-header th::after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 2px;
    background-color: rgba(85, 86, 90, 0.12);
}

.table-header th:last-child::after {
    display: none;
}

.table-content {
    background-color: #ffffff;
    border: 1px solid rgba(85, 86, 90, 0.12);
    color: hsl(233, 13%, 24%);
    position: relative;
}

.table-content td {
    padding: 10px 15px;
    text-align: center;
    position: relative;
}

.table-content td::after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 2px;
    background-color: rgba(85, 86, 90, 0.12);
}

.table-content td:last-child::after {
    display: none;
}

.job-description {
    max-width: 500px;
}

/* Skills section styling */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.skills span {
    background-color: rgba(255, 243, 225, 1);
    color: rgba(52, 54, 68, 1);
    border: 1px solid rgb(236, 222, 201);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #007bff;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* .highlight {
    background-color: yellow;
} */

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-info {
    display: flex;
    flex-direction: column;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls span,
.pagination-controls select,
.pagination-controls input {
    margin: 0 5px;
}

.pagination button {
    padding: 2px, 4px, 2px, 4px;
    background-color: rgba(247, 249, 252, 1);
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #e4e4e4;
    cursor: not-allowed;
}